{% extends 'base.html' %}

{% block header_text %}Find Updates to Historical Data{% endblock %}

{% block table %}{% endblock %}

{% block submissions %}
    <h2>Find information to update</h2>
    <form method = "POST" action="{% url 'UpdateStepOne' %}" class="form-horizontal">
        
        <div class="form-group">
        <div class="col-md">
            <br><label class="control-label col-sm-2">Periodicity</label><br>
            {{ form.QuarterOrAnnual }}
            <br><label class="control-label col-sm-2">Annual File</label><br>
            {{ form.AnnualFile }}
            <br><label class="control-label col-sm-2">Annual Columns</label><br>
            {{ form.AnnualColumns }}
            <br><label class="control-label col-sm-2">Quarter File</label><br>
            {{ form.QuarterFile }}
            <br><label class="control-label col-sm-2">Quarter Columns</label><br>
            {{ form.QuarterColumns }}
            <br><label class="control-label col-sm-2">File for Companies</label><br>
            {{ form.FileForTickers }}
            <br><label class="control-label col-sm-2">Base Filepath</label><br>
            {{ form.filepathfor_Excel }}
        <br><input type="submit" value="Submit" />
        {% csrf_token %}
        {% if form.errors %}
            <div class="form-group has-error">
                <span class="help-block">{{ form.text.errors }}</span>
            </div>
        {% endif %}
        </div>
    </form>


{% endblock %}