{% extends 'base.html' %}

{% block header_text %}Find Updates to Historical Data{% endblock %}

{% block table %}{% endblock %}

{% block submissions %}
    <h2>Find information to update</h2>
    <form method = "POST" action="{% url 'UpdateStepOne' %}" class="form-horizontal">
        
        <div class="form-group">
        <div class="col-md">
           {{ form.as_p }}
        <br><input type="submit" value="Submit" />
        {% csrf_token %}
        {% if form.errors %}
            <div class="form-group has-error">
                <span class="help-block">{{ form.text.errors }}</span>
            </div>
        {% endif %}
        </div>
    </form>


{% endblock %}