{% extends 'base.html' %}

{% block header_text %}Tasks{% endblock %}

{% block links_text %}

<h1><a href="{% url 'UpdateStepOne' %}">Update Company Data - Step One&#13;&#10;</a></h1>
<h1><a href="{% url 'UpdateStepTwo' %}">Update Company Data - Step Two&#13;&#10;</a></h1>

<h1><a href="{% url 'findata_newcompany' %}">New Tickers</a></h1>
<h1><a href="{% url 'findata_newcompanymerge' %}">Merge New Data</a></h1>

<h1><a href="{% url 'findata_runcharts' %}">Charts</a></h1>



{% endblock %}

{% block table %} {% endblock %}