{% extends 'base.html' %}

{% block header_text %}Tasks{% endblock %}

{% block links_text %}

<a href="{% url 'LC_NewOriginationData_Clean' %}" class = "btn btn-primary btn-block btn-lg" role="button">Initial Clean</a>
<a href="{% url 'LC_NewOriginationData_CombineAppFiles' %}" class = "btn btn-primary btn-block btn-lg" role="button">Combine All Origination Files&#13;&#10;</a>
<a href="{% url 'LC_NewOriginationData_ChargeOffs' %}" class = "btn btn-primary btn-block btn-lg" role="button">Run Charge Offs&#13;&#10;</a>
<a href="{% url 'LC_NewOriginationData_CleanCombinedData' %}" class = "btn btn-primary btn-block btn-lg" role="button">Clean Combined Origination Data&#13;&#10;</a>
<p> <br/><br/><br/><br/><br/> </p>
<a href="http://additionalstatistics.lendingclub.com/">Link to Lending Club - Additonal Statistics Data</a>
{% endblock %}

{% block table %} {% endblock %}