{% extends 'base.html' %}

{% block header_text %}Merge New Companies{% endblock %}

{% block table %}{% endblock %}

{% block submissions %}
    <h2>Merge New Companies</h2>
    <form method = "POST" action="{% url 'LC_NewOriginationData_Clean' %}" class="form-horizontal">
        
        <div class="form-group">
        <div class="col-md">
           {{ form.as_p }}
        <br><input type="submit" value="Submit" />
        {% csrf_token %}
        {% if form.errors %}
            <div class="form-group has-error">
                <span class="help-block">{{ form.text.errors }}</span>
            </div>
        {% endif %}
        </div>
    </form>


{% endblock %}